In [76]:
import pandas as pd
from tabulate import tabulate

## Untuk membaca file csv

In [77]:
df = pd.read_csv("googleplaystore.csv")

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,12/02/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,19/02/2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,26/02/2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,05/03/2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

## Informasi yang didapatkanadalah jumlah record, nama attribute, jumlah attribute dengan tipe objek, jumlah attribute dengan tipe angka, jumlah attribute yang memiliki nilai null.

In [78]:
df.dtypes

Store             int64
Date             object
Temperature     float64
Fuel_Price      float64
MarkDown1       float64
MarkDown2       float64
MarkDown3       float64
MarkDown4       float64
MarkDown5       float64
CPI             float64
Unemployment    float64
IsHoliday          bool
dtype: object

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 712.0+ KB

## Masukkan informasi di atas dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin.

In [80]:
jmlh = len(df)

In [81]:
atribut = list(df.columns)
atribut = "\n".join(atribut)

In [82]:
object = len(df.dtypes[df.dtypes == 'object'])

In [83]:
num = len(df.dtypes[df.dtypes == 'int64'])
numeric = len(df.dtypes[df.dtypes == 'float64'])

In [84]:
null = df.isna().any().sum()

In [85]:
dictionary = {
    "Jumlah Record" : [jmlh],
    "Atribut" : [atribut],
    "Jumlah tipe object" : [object],
    "Jumlah tipe Integer" : [num],
    "Jumlah tipe float" : [numeric],
    "Jumlah Nilai NULL" : [null],
}

In [86]:
tabel = pd.DataFrame(dictionary)
print(tabulate(tabel, headers='keys', tablefmt='psql', showindex=False))

+-----------------+--------------+----------------------+-----------------------+---------------------+---------------------+
|   Jumlah Record | Atribut      |   Jumlah tipe object |   Jumlah tipe Integer |   Jumlah tipe float |   Jumlah Nilai NULL |
|-----------------+--------------+----------------------+-----------------------+---------------------+---------------------|
|            8190 | Store        |                    1 |                     1 |                   9 |                   7 |
|                 | Date         |                      |                       |                     |                     |
|                 | Temperature  |                      |                       |                     |                     |
|                 | Fuel_Price   |                      |                       |                     |                     |
|                 | MarkDown1    |                      |                       |                     |                     |
|                 | MarkDown2    |                      |                       |                     |                     |
|                 | MarkDown3    |                      |                       |                     |                     |
|                 | MarkDown4    |                      |                       |                     |                     |
|                 | MarkDown5    |                      |                       |                     |                     |
|                 | CPI          |                      |                       |                     |                     |
|                 | Unemployment |                      |                       |                     |                     |
|                 | IsHoliday    |                      |                       |                     |                     |
+-----------------+--------------+----------------------+-----------------------+---------------------+---------------------+

## Menampilkan rata-rata, standard deviation, minimum, maximum,

In [87]:
df.describe()

,Store,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
count,8190.000000,8190.000000,8190.000000,4032.000000,2921.000000,3613.000000,3464.000000,4050.000000,7605.000000,7605.000000
mean,23.000000,59.356198,3.405992,7032.371786,3384.176594,1760.100180,3292.935886,4132.216422,172.460809,7.826821
std,12.987966,18.678607,0.431337,9262.747448,8793.583016,11276.462208,6792.329861,13086.690278,39.738346,1.877259
min,1.000000,-7.290000,2.472000,-2781.450000,-265.760000,-179.260000,0.220000,-185.170000,126.064000,3.684000
25%,12.000000,45.902500,3.041000,1577.532500,68.880000,6.600000,304.687500,1440.827500,132.364839,6.634000
50%,23.000000,60.710000,3.513000,4743.580000,364.570000,36.260000,1176.425000,2727.135000,182.764003,7.806000
75%,34.000000,73.880000,3.743000,8923.310000,2153.350000,163.150000,3310.007500,4832.555000,213.932412,8.567000
max,45.000000,101.950000,4.468000,103184.980000,104519.540000,149483.310000,67474.850000,771448.100000,228.976456,14.313000

## Menampilkan nilai korelasi attribute bertipe angka.

In [88]:
df.corr()

,Store,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
Store,1.000000e+00,-0.020566,0.066682,-0.136967,-0.044223,-0.033279,-0.005174,-0.011970,-0.209282,0.221153,-4.186667e-16
Temperature,-2.056605e-02,1.000000,0.101354,-0.124979,-0.321888,-0.077552,-0.064194,-0.003241,0.164426,0.150890,-1.619056e-01
Fuel_Price,6.668205e-02,0.101354,1.000000,0.066122,-0.193461,-0.057168,-0.008546,-0.021926,-0.186696,-0.033360,-7.823797e-02
MarkDown1,-1.369671e-01,-0.124979,0.066122,1.000000,0.021289,-0.089841,0.810455,0.085967,-0.044327,0.020501,1.526209e-01
MarkDown2,-4.422331e-02,-0.321888,-0.193461,0.021289,1.000000,-0.053555,-0.046595,-0.008166,-0.044896,-0.001692,2.994476e-01
MarkDown3,-3.327926e-02,-0.077552,-0.057168,-0.089841,-0.053555,1.000000,-0.062785,-0.016026,-0.020166,-0.003464,4.452239e-01
MarkDown4,-5.173997e-03,-0.064194,-0.008546,0.810455,-0.046595,-0.062785,1.000000,0.042952,-0.053868,0.021905,1.348406e-01
MarkDown5,-1.196994e-02,-0.003241,-0.021926,0.085967,-0.008166,-0.016026,0.042952,1.000000,0.001526,0.031847,-2.462956e-02
CPI,-2.092824e-01,0.164426,-0.186696,-0.044327,-0.044896,-0.020166,-0.053868,0.001526,1.000000,-0.303110,1.008430e-03
Unemployment,2.211525e-01,0.150890,-0.033360,0.020501,-0.001692,-0.003464,0.021905,0.031847,-0.303110,1.000000,-2.644393e-03
IsHoliday,-4.186667e-16,-0.161906,-0.078238,0.152621,0.299448,0.445224,0.134841,-0.024630,0.001008,-0.002644,1.000000e+00

## Rubah nilai salah satu attribute bertipe angka menjadi desimal 3 angka dibelakang koma jika tidak ada, lakukan sebaliknya (dari desimal menjadi bilangan bulat).

In [89]:
df["Rating"].head()

KeyError: 'Rating'

### Kalikan salah satu kolom dengan tipe data int64 dengan bilangan koma sembarang

In [ ]:
df["Rating"] = df["Rating"] * 0.005

In [ ]:
df["Rating"].head()

0    2.562500e-09
1    2.437500e-09
2    2.937500e-09
3    2.812500e-09
4    2.687500e-09
Name: Rating, dtype: float64

## Tampilkan 10 record pertama dari attribute bertipe angka.

In [ ]:
df.head(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,2.562500e-09,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,2.437500e-09,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,2.937500e-09,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,2.812500e-09,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,2.687500e-09,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
5,Paper flowers instructions,ART_AND_DESIGN,2.750000e-09,167,5.6M,"50,000+",Free,0,Everyone,Art & Design,"March 26, 2017",1.0,2.3 and up
6,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,2.375000e-09,178,19M,"50,000+",Free,0,Everyone,Art & Design,"April 26, 2018",1.1,4.0.3 and up
7,Infinite Painter,ART_AND_DESIGN,2.562500e-09,36815,29M,"1,000,000+",Free,0,Everyone,Art & Design,"June 14, 2018",6.1.61.1,4.2 and up
8,Garden Coloring Book,ART_AND_DESIGN,2.750000e-09,13791,33M,"1,000,000+",Free,0,Everyone,Art & Design,"September 20, 2017",2.9.2,3.0 and up
9,Kids Paint Free - Drawing Fun,ART_AND_DESIGN,2.937500e-09,121,3.1M,"10,000+",Free,0,Everyone,Art & Design;Creativity,"July 3, 2018",2.8,4.0.3 and up

## SIMPAN CSV

In [ ]:
df.to_csv("googleplaystore.csv",index=False)